:root {
	--ff-sans: -apple-system,"Helvetica Neue",Helvetica,Arial,sans-serif;
	--ff-serif: Georgia,Times New Roman,Times,serif;
	--ff-mono: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;

	/* primary */
	--cp-navy10: #f5faff;
	--cp-navy100: #97c7f6;
	--cp-navy200: #84baed;
	--cp-navy300: #59a1e4;
	--cp-navy400: #3e8ed9;
	--cp-navy500: #0a6cc9;
	--cp-navy600: #0759a7;
	--cp-navy700: #0d457a;
	--cp-navy800: #063562;
	--cp-navy900: #042e56;

	
	--cp-grey50: #e1e6ec;
	--cp-grey100: #d0d8e0;
	--cp-grey200: #c6cdd4;
	--cp-grey300: #b1b8be;
	--cp-grey400: #9ea4a9;
	--cp-grey500: #8b9196;
	--cp-grey600: #7b7f84;
	--cp-grey700: #686c6f;
	--cp-grey800: #545759;
	--cp-grey900: #3f4143;

	--cp-primary: var(--cp-navy500);

	--sidebar-header-heigth: 80px;
	--sidebar-footer-heigth: 40px;

	/* TODO
	 * - needs accents
	 * - types, (or maybe i'll use one of the blues for types...)
	 * - the field setting (required/optional/....)
	 * - an alert (red) color to stress
	 * - monokai for the code snippets, including object samples
	 * - colors for endpoint lists?
	 * - colors for HTTP methods in endpoint lists and snippets?
	 * */

}

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
}

article {
	font-family: var(--ff-sans);
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.003em;
}

a {
	color: var(--cp-primary);
	text-decoration: none;
}

.hidden {
	display: none;
}

/*******************************************************************************
 * Sidebar
 ******************************************************************************/

.sidebar-container {
	width: 280px;
	height: 100%;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 3;

	border-right-style: dashed;
	border-width: 1px;
	border-color: var(--cp-grey50);
}

.sidebar-header {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	word-wrap: break-word;
	z-index: 100;
	margin: 0 auto;
	width: 100%;
	height: var(--sidebar-header-heigth);
}

.sidebar-banner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

.sidebar {
	position: absolute;
	width: 100%;
	top: var(--sidebar-header-heigth);
	bottom: var(--sidebar-footer-heigth);
	overflow-y: auto;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	margin: 0 auto;
	width: 100%;
	height: var(--sidebar-footer-heigth);
}

.sidebar-list-title {
	margin: 0;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-right: 10px;

	color: var(--cp-grey400);
	font-family: var(--ff-sans);
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.04em;
	pointer-events: none;
}

.sidebar-list-item {
	margin-left: 8px;
	margin-right: 3px;
	border-radius: 8px;
}

.sidebar-list-item.active {
	background-color: var(--cp-navy10);
}

.sidebar-list-item.active > .sidebar-item {
	color: var(--cp-navy600);
}

.sidebar-item {
	display: block;
	color: black;
	font-family: var(--ff-sans);
	font-size: 13px;
	font-weight: 450;
	text-decoration: none;
	padding: 4px 4px 4px 24px;
	line-height: 20px;
}

.sidebar-item:hover {
	color: var(--cp-navy500);
}

.sidebar-item-subitems {
	padding-left: 8px;
}

/*******************************************************************************
 * Content
 ******************************************************************************/

.content-container {
	position: absolute;
	top: 0;
	left: 280px;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	overflow-y: scroll;
	background: #fff;
	outline: none !important;
	overflow-x: hidden;
}

/*******************************************************************************
 * Articles
 ******************************************************************************/
article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-content {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1264px;
	padding: 5vw;
}

.article-primary-column {
	width: 600px;
}

.article-section-lead-title {
	font-size: 28px;
	line-height: 40px;
	font-weight: 500;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-family: var(--ff-serif);
	text-decoration: none;
}

.article-section-lead-title > a {
	color: black;
}

/*******************************************************************************
 * Example Sections
 ******************************************************************************/
.article-example-column {
	width: 600px;
	padding-top: 60px;
}

.article-example-column > section {
	margin-bottom: 30px;
}

/*******************************************************************************
 * Example Endpoint List
 ******************************************************************************/
.xs-endpoint-list-container {
	background: #f7fafc;
	border-radius: 8px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.07);
}

.xs-endpoint-list-topbar {
	background: #e3e8ee;
	padding: 10px 12px;
	border-radius: 8px 8px 0 0;
}

.xs-endpoint-list-title {
	font-size: 12px;
	font-weight: 500;
	margin: 0;
	color: #4f566b;
	letter-spacing: .01em;
	user-select: none;
	pointer-events: none;
}

.xs-endpoint-list {
	padding: 12px 20px;
	font-size: 13px;
	line-height: 17px;
}

.xs-endpoint-item > a {
	text-decoration: none;
}

.xs-endpoint-item > a:hover {
	text-decoration: none;
	filter: brightness(70%);
}

.xs-endpoint-method {
	width: 50px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

.xs-endpoint-method.method-get {
	color: #09825d;
}

.xs-endpoint-pattern {
	color: #697386;
}

/*******************************************************************************
 * Example Request
 ******************************************************************************/
.xs-request-container {
	background: #c1c9d2;
	border-radius: 8px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.07);
}

.xs-request-topbar {
	background: #3c4257;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px 8px 0 0;
}

.xs-request-title-container {
}

.xs-request-title {
	margin: 0;
	color: #a3acb9;
	padding: 8px;
	padding-left: 12px;
	color: #697386;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: .01em;
	user-select: none;
	pointer-events: none;
}

.xs-request-endpoint-method-get {
	color: #85d996;
}

.xs-request-endpoint-pattern {
	color: #a3acb9;
}

.xs-request-lang-select-container {
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.xs-request-lang-select-container > select {
	color: #c1c9d2;
	text-align: right;
	text-align-last: right;
	font-size: 12px;
	position: static;
	z-index: 1;
	display: block;
	margin: 0;
	width: 100%;
	padding: 4px 28px 4px 8px;
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
	line-height: 14px;
	outline: 0;
	white-space: nowrap;
	text-transform: none;
}

.xs-request-body {
	background: #4f566b;
	padding-top: 12px;
	padding-bottom: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.code-snippet-container {
	min-height: 90px;
	/*max-height: calc(-186px + 100vh);*/
	position: relative;
	box-sizing: content-box;
	/*max-height: calc(100vh - 213px);*/
	/*max-height: calc(100vh - 32px - 32px - 32px - 32px - 85px);*/
	/*max-height: calc(100vh - var(--sp32) - var(--sp32) - var(--sp32) - var(--sp32) - 85px);*/
	display: flex;
	flex-direction: row;
	font-size: 13px;
	line-height: 19px;
	min-height: inherit;
	max-height: inherit;
	overflow-y: auto;
}

.cs-lines-container {
	flex-grow: 0;
	flex-shrink: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	width: 24px;
	padding-right: 8px;
	color: #697386;
	letter-spacing: -1px;
	text-align: right;
	font-family: Menlo,Consolas,monospace;
}

.cs-pre {
	display: flex;
	flex-grow: 1;
	overflow-x: auto;
	margin: 0;
	height: 100%;
	color: #2a2f45;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 0 12px;
	font-family: Menlo,Consolas,monospace;
	font-size: 1em;
	overflow: auto;
}


/*******************************************************************************
 * Example Response
 ******************************************************************************/
.xs-response-container {
	background: #f7fafc;
	border-radius: 8px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.07);
}

.xs-response-topbar {
	background: #e3e8ee;
	padding: 10px 12px;
	border-radius: 8px 8px 0 0;
}

.xs-response-title {
	font-size: 12px;
	font-weight: 500;
	margin: 0;
	color: #4f566b;
	letter-spacing: .01em;
	user-select: none;
	pointer-events: none;
}

.xs-response-body {
	padding: 12px 20px;
	font-size: 13px;
	line-height: 17px;
}

